<div class="container vh-100 d-flex justify-content-center align-items-center vw-100 ">
    <form class=" rounded-3 p-4 w-25 bg-opacity-75" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Login</h3>
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && f['email'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['email'].errors">
            <div *ngIf="f['email'].errors['required']">email is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']">password is required</div>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" formControlName="remember">
          <label class="form-check-label ms-2">Remember me</label>
        </div>
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a routerLink="/auth/signup" class="text-decoration-none mt-3 text-white link"> New user Register here</a>
        </div>
      </form>
</div>
