<div class="container vh-100 d-flex justify-content-center align-items-center vw-100">
    <form class=" rounded-3 p-4 w-50 " [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Register</h3>
        <div class="mb-3">
          <label  class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && f['name'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['name'].errors">
            <div *ngIf="f['name'].errors['required']">name is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && f['email'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['email'].errors">
            <div *ngIf="f['email'].errors['required']">email is required</div>
            <div *ngIf="f['email'].errors['pattern']">invalid email</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitted && f['password'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']">password is required</div>
            <div *ngIf="f['password'].errors['minlength']">minimum 8 characters required!</div>
            <div *ngIf="f['password'].errors['maxlength']">maximum 16 characters allowed!</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Phone</label>
          <input type="text" class="form-control" formControlName="phone" [ngClass]="{'is-invalid': submitted && f['phone'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['phone'].errors">
            <div *ngIf="f['phone'].errors['required']">phone number is required</div>
            <div *ngIf="f['phone'].errors['pattern']">Invalid phone number</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Date Of Birth</label>
          <input type="date" class="form-control" formControlName="dob" [ngClass]="{'is-invalid': submitted && f['dob'].errors}">
          <div class="invalid-feedback text-white" *ngIf="submitted && f['dob'].errors">
            <div *ngIf="f['dob'].errors['required']">date of birth is required</div>
            <div *ngIf="f['dob'].errors['invalidAge']">Your age must be greater than 18</div>
          </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Address</label>
          <textarea  class="form-control" rows="4" style="resize:none;" formControlName="address" [ngClass]="{'is-invalid': submitted && f['address'].errors}"></textarea>
          <div class="invalid-feedback text-white" *ngIf="submitted && f['address'].errors">
            <div *ngIf="f['address'].errors['required']">address is required</div>
          </div>
        </div>
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
          <a routerLink="/auth/login" class="text-decoration-none mt-3 text-white link" >Already a user login here</a>
      </div>
      </form>
</div>