.accordion-button::after{
    display: none !important;
}
.accordion-button:not(.collapsed){
    background-color: white !important;
}
a:hover{
    background-color: rgb(15 35 63) !important;
    color: white !important;
}
.accordion-button:hover{
    background-color: rgb(15 35 63) !important;
    color: white !important;
}
.active{
    background-color: rgb(15 35 63) !important;
    color: white !important;
}