<div class="d-flex justify-content-center align-items-center h-100">
    <div class="section p-3">
        <h4 class="text-center">Transaction details</h4>
        <div class="my-1"><strong>Transaction id</strong> : {{transData._id}}</div>
        <div><strong>Sender's account number</strong> : {{transData.from_account}} </div>
        <div><strong>Reciever's account number</strong> : {{transData.to_account}}</div>
        <div><strong>Transaction type</strong> : {{transData.type}}</div>
        <div><strong>Amount</strong> : {{transData.amount}}</div>
        <div><strong>Description</strong> : {{transData.description}}</div>
    </div>
</div>
